##########################
# Application connection #
##########################

default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: username
  password: password

development:
  <<: *default
  database: db_dev

production:
  <<: *default
  database: db

test:
  <<: *default
  database: db_test

##################
# UTM connection #
##################

utm_default: &utm_default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: username
  password: password

utm_development:
  <<: *default
  database: db_dev

utm_production:
  <<: *default
  database: db

utm_test:
  <<: *default
  database: db_test
